

/****************************************/

/* フェードイン */

/****************************************/


    .inviewfadeIn {
        opacity: 0;
        transition: .8s;
    }
    
    /*.fadeIn {
        opacity: 1.0;
    }*/
	
	#content1 .inviewfadeIn , #content2 .inviewfadeIn , #content3 .inviewfadeIn , #content4 .inviewfadeIn {
        opacity: 0;
		animation-delay:.6s;
		-webkit-animation-delay:.6s;
	}
	
	.inviewfadeInUp {
        opacity: 0;
		animation-delay:.1s;
		-webkit-animation-delay:.1s;
	}
	


/* フェードインしながら上へスライド */
    .inviewfadeInLeft , .inviewfadeInRight , .inviewfadeInUp {
        opacity: 0;
        transform: translate(0, 60px);
        -webkit-transform: translate(0, 60px);
        transition: 1.5s;
    }
	.fadeIn {
        opacity: 0;
		animation-duration: 1.5s;
		animation-delay:0s;
		-webkit-animation-delay:0s;
	}
	
	.top_text.inviewfadeInLeft {
        opacity: 0;
		animation-duration: .1s;
		animation-delay:1.9s;
		-webkit-animation-delay:1.9s;
	}
	

/* フリップ回転 */

	.inviewflipInX {
		animation-delay:.3s;
		-webkit-animation-delay:.3s;
	}

	.inviewbounceInRight {
        transform: translate(0, 0px);
        -webkit-transform: translate(0, 0px);
        transition: .8s;
		animation-duration: .2s;
	}
	
	    .fadeIn {
        opacity: 1.0;
    }

	
	
/****************************************/

/* 中ページ調節 */

/****************************************/



#company_area .inviewfadeIn , #recruit_area .inviewfadeIn , #contact_area .inviewfadeIn {
        opacity: 0;
		animation-delay:.4s;
		-webkit-animation-delay:.4s;
	}
