@charset "UTF-8";
/* CSS Document */

/* -------------------------------------------------------------------- 
 body
-------------------------------------------------------------------- */

body {
 color: #000000;

	/*font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", "sans-serif";*/
 font-family:	"Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "HiraginoKaku-W3-90msp-RKSJ-H", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro","メイリオ" , "Meiryo" , "ＭＳ Ｐゴシック",  Verdana, Osaka, "MS PGothic", Sans-Serif;


font-size: 13px;
 *font-size:small;
 *font:x-small;
 text-align: center;
	text-size-adjust: 100%;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	max-height: 999999px;
}

#top {
	/*overflow: hidden;*/
	min-width: 980px;
}

img {
	vertical-align: bottom;
}

/*a {
	display: inline-block;
}*/
.relative-wrap {
	position: relative;
}

.contDispN {
	display: none;
}

p, span, dt, dd, th, td, li, h1, h2, h3, h4 {
	max-height: 999999px;
	background-image: url(../img/spacer.gif);
}

/*============================
 header
============================*/

.header {
    width: 1366px;
    height: 140px;
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.clearfix {
    padding: 0;
    margin: 0;
}

.clearfix li {
    list-style-type: none;
}

.clearfix li a{
    color: #000000;
    text-decoration: none;
}

.headerLogo {
    float: left;
    display: inline-block;
    padding: 25px 45px 20px 45px;
}

.headerNaviWrap {
    font-size: 17.85px;
    float: right;
    padding: 60px 45px 65px 45px; 
}

.headerNaviWrap ul {
    display: flex;
}

.headerNaviWrap ul li a {
    padding: 0 30px;
}


/*============================
MV スライド
============================*/
#mv {
height: 604px;
width: 100%;
position: relative;
overflow: hidden;
animation: fadeIn 1s ease 0s 1 normal;
}

@keyframes fadeIn {
0% {opacity: 0}
100% {opacity: 1}
}

.mv_slider_wrapper {
	overflow: hidden;
}

.slick-track {
	overflow: hidden;
}

.mv_slider_wrapper .mv_slider {
width: 100%;
height: 604px;
position: relative;
z-index: 0;
	/*transform: scale(1.075) rotate(0.001deg);*/
}

@keyframes scale {
0% {transform: scale(1) rotate(0.001deg);}
100% {transform: scale(1.3) rotate(0.001deg);}
}
/*@keyframes scale {
0% {transform: scale(1) rotate(0.001deg);}
100% {transform: scale(1.075) rotate(0.001deg);}
}*/

/*
@media all and (-ms-high-contrast: none){
@keyframes scale {
0% {transform: scale(1) rotate(0.1deg);}
100% {transform: scale(1.2) rotate(0.1deg);}
}
}
*/

.mv_slider_wrapper .mv_slider img {
width: 100%;
height: 100%;
display: block;
}

.mv01 {
background-image: url("../img/kamihan_slide01.jpg");
background-repeat: no-repeat;
background-position: center center;
background-size: cover;
animation: scale 22.5s linear 0s infinite;
}

.mv02 {
background-image: url("../img/kamihan_slide02.jpg");
background-repeat: no-repeat;
background-position: center center;
background-size: cover;
animation: scale 22.5s linear 4.5s infinite;
}

.mv03 {
background-image: url("../img/kamihan_slide03.jpg");
background-repeat: no-repeat;
background-position: center center;
background-size: cover;
animation: scale 22.5s linear 9s infinite;
}

.mv04 {
background-image: url("../img/kamihan_slide04.jpg");
background-repeat: no-repeat;
background-position: center center;
background-size: cover;
animation: scale 22.5s linear 13.5s infinite;
}

.mv05 {
background-image: url("../img/kamihan_slide05.jpg");
background-repeat: no-repeat;
background-position: center center;
background-size: cover;
animation: scale 22.5s linear 18s infinite;
}


/*.mv_slider.slick-current {
animation: scale 4.5s linear 0s;
}*/



/* -------------------------------------------------------------------- 
 コンテンツ
-------------------------------------------------------------------- */

.contents01{
    width: 980px;
    margin: 0 auto;
}

.greetingWrap {
    width: 980px;
}

.contH201 {
	text-align: center;
	font-size: 28px;
	line-height: 1.4em;
	font-weight: 500;
	letter-spacing: 0.2em;
	width: 350px;
	margin: auto;
	background-image: url("../img/kamihan_tit_icon01.png");
	background-repeat: no-repeat;
	background-position: left center;
}
.contH201 span {
	display: block;
	background-image: url("../img/kamihan_tit_icon01.png");
	background-repeat: no-repeat;
	background-position: right center;
}


.greeting ,.report ,.inauguration ,.introduction {
    width: 350px;
    height: 30px;
    text-align: center;
    margin: 100px auto 60px auto;
}

.greetingContent {
    text-align: left;
    font-size: 18px;
    letter-spacing: 0.5px;
    margin-top: 40px;
}

.fontBold {
    font-weight: 900;            /* 社長挨拶 */
}



.reportwrap {
    margin-top: 170px;
} 

.businessProgress {
    font-size: 22.88px;
    margin: 85px 0 60px 0;
	width: 330px;
	height: 30px;
	letter-spacing: 0.2rem;
	text-align: center;
	display: inline-block;
	vertical-align: middle;
}

.businessProgress img {
	vertical-align: middle;
}

.businessText01 {
    text-align: left;
    font-size: 18px;
    letter-spacing: 3px;
}

.report h2 {
    float: left;
    font-size: 30px;
}

.departmentWrap {
    margin-top: 120px;
}

.businessDepartment {
    text-align: center;
    font-size: 22.88px;
    margin-bottom: 60px;
	width: 290px;
	letter-spacing: 0.2rem;
	display: inline-block;
	vertical-align: middle;
}

.businessDepartment img{
	vertical-align: middle;
}

.departmentWrap01 {
    text-align: left;
    font-size: 18px;
    letter-spacing: 3px;
}

.departmentText{
    margin-bottom: 40px;
}

.departmentText dt { 
    font-weight: 600;
}

.taskWrap {
    margin: 90px 0 200px 0;
}

.task {
    font-size: 22.88px;
    margin-bottom: 60px;
	width: 250px;
	display: inline-block;
	text-align: center;
	vertical-align: middle;
}

.task img {
	vertical-align: middle;
}

.taskText {
    text-align: left;
    font-size: 18px;
    letter-spacing: 2px;                 /*  中間決算報告*/
}


.inaugurationWrap {
    height: 3730px;
}

.inauguration {
    margin-bottom: 95px;
}

.inauguration h2 {
    font-size: 32.03px;
    float: left;
}

.new01 {
    position: relative;
    width: 100px;
    height: 100px;
    margin: 0 45px 0 25px;
    background: #fffff;
    border: solid 1px ;
    float: left;
}

.p-center {
    font-size: 30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center; 
}

.newStaff01 {
    width: 300px;
    height: 110px;
    float: left;
    text-align: left;
    margin-right: 58px;
}
 
.position {
    font-size: 22.31px;
    letter-spacing: 4px;
    font-weight: 600;
    margin-top: -3px;
}

.nameBig {
    font-size: 30px;
    letter-spacing: 5px;
    margin: -5px 0;
}

.romaji {
    font-size: 20px;
    letter-spacing: 7px;
}

.textWrap01 { 
    margin-bottom: 90px;
    float: left;
}

.staffText01 {
    width: 450px;
    text-align: left;
    font-size: 18px;
    letter-spacing: 2px;
}

.nameBig02 {
    font-size: 30px;
    letter-spacing: 5px;
    margin: 5px 0;
}

.romaji02 {
    font-size: 20px;
    letter-spacing: 7px;                 /*  役員就任挨拶*/
}


.introductionWrap {
    margin-top: 280px;
}

.employeeWrap01 {
    margin: 120px 0 80px 0;
    width: 980px;
    display: flex;
}

.employee01 img {
    width: 223px;
    height: 222px;
    display: inline-block;
}

.employeeText01 {
    text-align: left;
    width: 650px;
}

.employeeText01 dt {
    font-size: 22.31px;
    font-weight: 600;
}

.nameSize {
    font-size: 30px;
}

.employeeText {
    margin-left: 80px;
    width: 660px;
} 

.employeeText01 dd {
    font-size: 18px;
    letter-spacing: 0.1rem;
    margin-top: 30px;
}



#kfooter {
	margin-top: 20px;
	height: 100px; 
}

.footer {
	text-align: left;
	margin-left: 10px;
}



